<ion-header>
  <ion-toolbar>
    <ion-title> Ideas App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated"> Ideas </ion-list-header>
    <ion-item *ngFor="let idea of list" class="user-list">
      <ion-label>
        <h5><ion-icon name="person"></ion-icon> {{idea.name}}</h5>
        <p><ion-icon name="call"></ion-icon> {{idea.mobile}}</p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/idea-details/', idea.$key]">
          <ion-icon name="create" style="zoom: 2"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteIdea(idea.$key)">
          <ion-icon name="trash" style="zoom: 2"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content> -->
